C:\IDE\Skillfactory\Project-1\data\dst-3.0_16_1_hh_database.csv
Project-1\data\dst-3.0_16_1_hh_database.csv
C:\IDE\Skillfactory\Project-1\data\ExchangeRates.csv
Project-1\data\ExchangeRates.csv
data\dst-3.0_16_1_hh_database.csv
data\ExchangeRates.csv
